body{
    /* font-family: 'Open Sans', sans-serif; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* margin top right bottom left */
    margin: 20px 70px 20px 70px;
    text-align: justify;
}
header{
    font-family: 'Amaranth', sans-serif;
}
#name{
    color:#bf211e;
    margin-left: 15px;
}
.wrapper{
    display:grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    gap: 20px 20px;
    /* grid-auto-rows: minmax (100px, auto); */
}
.icons {
    font-size: 140%;
}
/* in order a:link - a:visited - a:hover - a:active */
a:link {
    color: #bf211e;
}
a:visited {
    color: #bf211e;
}
a:hover {
    color: #4357ad;
}
a:active {
    color: #4357ad;
}
.image1{
    width: 70%;
    height: auto;
    border-radius: 120px;
}
.bar1, .bar2, .bar3, .bar4, .bar5, .bar6 {
    -webkit-appearance: none;
  }
  ::-webkit-progress-bar {
     background-color: rgb(234, 234, 236);
  }
p {
    line-height: 1.5;
}
.word {
    color: #4357ad;
    /* color: #4680aa; */
    font-size: larger;
    font-family: 'Amaranth', sans-serif;
}
.container {
    width: 50%;
    background-color: #ebeef0;
  }
.skills {
    padding-top: 20px;
}
.language1 {width: 100%; background-color: #bf211e;}
.language2 {width: 80%; background-color: #bf211e;}
.language3 {width: 50%; background-color: #bf211e;}
.language4 {width: 30%; background-color: #bf211e;}
.language5 {width: 90%; background-color: #bf211e;}


.checked{
    color:#bf211e;
}
.technicalskills{
    font-weight: 600;
}
.softskills{
    border: 2px solid #4357ad; 
    background-color: #4357ad;
    color: #fff;
    padding: 4px; 
    border-radius: 4px; 
}

/* media screen */
@media screen and (max-width: 300px) {
    body {
        margin: 30px 50px 50px 50px;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
    }
    #name{
        margin-left: 0;
        font-size: larger;
    }
    .five{
        order: 1;
    }
    .seven{
        order: 2;
    }
    .eight{
        order: 3;
    }
}

@media screen and (min-width: 301px) and (max-width: 560px) {
    body {
        margin: 20px 20px 20px 20px;
    }
    .wrapper { 
        display: flex;
        flex-direction: column;
    }
    .five{
        order: 1;
    }
    .seven{
        order: 2;
        margin-top: 10px;
    }
    .eight{
        order: 3;
    }
}

@media screen and (min-width: 561px) and (max-width: 768px) {
    body{
        margin: 20px 40px 20px 40px;
    }
    #name{
        margin-left: 0;
        letter-spacing: -0.5px;
    }
    .wrapper{
        gap: 20px 40px;
    }
}
